@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

*,
::before,
::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   --red: hsl(0, 78%, 62%);
   --cyan: hsl(180, 62%, 55%);
   --orange: hsl(34, 97%, 64%);
   --blue: hsl(212, 86%, 64%);

   --very-dark-blue: hsl(234, 12%, 34%);
   --grayish-blue: hsl(229, 6%, 66%);
   --very-light-gray: hsl(0, 0%, 98%);

   --font-size-10: 62.5%; /* 10px */
   --font-fam-poppins: "Poppins", sans-serif;
   --font-weight-200: 200;
   --font-weight-400: 400;
   --font-weight-700: 700;
}

html {
   font-size: var(--font-size-10);
   font-family: var(--font-fam-poppins);
}

body {
   font-size: 1.5rem;
   color: var(--very-dark-blue);
   font-weight: var(--font-weight-400);
   background-color: var(--very-light-gray);
}

footer {
   font-size: 1.2rem;
   text-align: center;
}

footer a {
   color: var(--orange);
   text-decoration: none;
}

/* design and layout common for all screen size start here */
.container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin: 2rem;
   gap: 1rem; /* between main_content and footer */
}

.title {
   text-align: center;
}

.reliable {
   font-weight: var(--font-weight-200);
}

.card {
   height: 25rem;
   width: 31.5rem;
   border: 0.1rem solid var(--very-light-gray);
   box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
   border-radius: 1rem;
   padding: 2.5rem;
}

.details {
   padding: 1rem 0;
   color: var(--grayish-blue);
   font-weight: var(--font-weight-400);
}

.supervisor {
   border-top: 0.5rem solid var(--cyan);
   background-image: url("../images/icon-supervisor.svg");
   background-position: bottom 2rem right 2rem;
   background-repeat: no-repeat;
   background-size: 6rem;
}

.team {
   border-top: 0.5rem solid var(--red);
   background-image: url("../images/icon-team-builder.svg");
   background-position: bottom 2rem right 2rem;
   background-repeat: no-repeat;
   background-size: 6rem;
   margin-bottom: 3rem; /*between card team and card karma */
}

.karma {
   border-top: 0.5rem solid var(--orange);
   background-image: url("../images/icon-karma.svg");
   background-position: bottom 2rem right 2rem;
   background-repeat: no-repeat;
   background-size: 6rem;
}

.calculator {
   border-top: 0.5rem solid var(--blue);
   background-image: url("../images/icon-calculator.svg");
   background-position: bottom 2rem right 2rem;
   background-repeat: no-repeat;
   background-size: 6rem;
}
