.main_content {
   display: flex;
   flex-direction: column;
   gap: 4rem; /* between title and card_container */
}

.title {
   font-size: 1.2rem;
}

.about {
   font-size: 1.5rem;
   padding: 1rem;
   width: 31.5rem;
   color: var(--grayish-blue);
}

.card_container {
   display: flex;
   flex-direction: column;
   gap: 3rem; /* between card supervisor, team_karma_container and card calculator */
}
